body{
    font-family: "Roboto Condensed", sans-serif !important;
    margin-inline: auto;
  }
  .bold{
    font-weight: bold;
  }
  .navbar-center {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  
  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  -------------------------------------------------- */
  .navbar-collapse{
    transition: all .5s;
  }
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .navbar-center .nav-item {
    margin: 0 15px; 
  }
  .red{
    background-color: #A60522;
  }
  .header-top {
    background-color: #F2B705;
    color: white;
    padding: 10px 10px;
  }
  .header-bottom {
    background-color: #404040;
    color: white;
  }
  .header-bottom a {
    color: white;
  }
  .header-bottom a:hover {
    color: #d4a200;
  }
  .logo img {
    max-height: 50px;
  }
  .contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
@media (max-width: 700px) {
    .stats-container {
      grid-template-columns: 1fr;
    }
    #c1{
        display: none;
      }
      #c2{
        display: none;
      }
      #c3{
        display: none;
      }
      #c4{
          width: 100%;
          font-size: larger;
      }
  }
.wrapper{
  width: 90%;
  margin-top: 30px;
  margin-inline: auto;
  height: fit-content;
  min-height: 70vh;
}
#card-area{
  padding: 5px;
}
.box-area{
  background: linear-gradient(300deg, #ffffff,  #C40C0C,#F2B705, #ffffff);
  border-radius: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.8);
}
.box{
  flex-shrink: 0;
  margin: 1rem;
  width: 20rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0,1);
  border: #404040;
  
}

.box img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;

}
.overlay{
  color: rgb(255, 255, 255);
  height: 0;
  width: 100%;
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.782) 50%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0 40px;
  flex-direction: column;
  font-size: 14px;
  transition: height 0.5s;

}

.overlay h3{
  
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 80%;
  font-size: 25px;
  color: aliceblue;
}

.box:hover img{
  transform: rotate(5deg) scale(1.2);
}
.box:hover .overlay{
  cursor: pointer;
  height: 100%;
}
@media (max-width: 700px) {
  .overlay{
    height: 100%;
  }
}
.navbar-nav .nav-item .nav-link {
  color: white;
  transition: all 0.3s ease-in-out;
  margin: 0;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #be0101; 
  background-color: #fefcfc; 
  padding: 5px; 
  border-radius: 5px;

}
.navbar-collapse{
  transition: all .5s;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.loc-bar{
  height: fit-content;
  width: 100%;
  background: linear-gradient(300deg, #ffffff,  #C40C0C,#F2B705, #ffffff);
  color: #5a5a5a;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: gradient-animation 5s ease infinite;
}
.loc-bar a{
  color: #be0101;
  text-decoration: none;
  margin-inline: 5%;
  font-size: 25px;
  font-weight: bold;
  padding-inline: 5px;
  margin-block: 10px;
  background-color: #fefcfc;
  border-radius: 5px;
}